body {
  margin: 0;
}

.nav {
  background-color: #383737;
}

.nav-dropdown {
  padding: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  
}
.dropdown-menu {
  display: none;
  
}

.nav-dropdown:hover > .dropdown-menu {
  background-color: rgb(88, 97, 218);
  text-decoration: none;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
}
.menu-list{
    padding: 0;
    margin: 0;
}
.menu-list > li{
    list-style-type: none;
    padding: 20px;
}
.menu-list li:hover{
    background-color: blue;
}
